.dots_custom li {
  cursor: pointer;
  display: inline-block;
  margin: 0 12px;
  margin-top: 50px;
}

.dots_custom li button {
  border: none;
  background: rgba(185, 141, 109, 0.39);
  color: transparent;
  cursor: pointer;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

.dots_custom li.slick-active button {
  background-color: #b98d6d;
}
